 .u-section-1 {
  background-image: linear-gradient(to right, #614385, #516395);
}

.u-section-1 .u-sheet-1 {
  min-height: 607px;
}

.u-section-1 .u-slider-1 {
  min-height: 434px;
  width: 946px;
  height: auto;
  margin: 16px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 70px 0 73px;
}

.u-section-1 .u-icon-1 {
  width: 76px;
  height: 76px;
  color: rgb(0, 0, 0) !important;
  margin: 20px 358px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  animation-duration: 1750ms;
  margin: 26px 5px 0 9px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 9px 0 6px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 0 221px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 231px 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-1 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
  inset: auto -128px 77px auto;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 286px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: 232px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 31px;
    margin-left: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 237px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 191px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 187px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 81px;
  }
}